@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }

  body {
    font-family: Lato, sans-serif;
    font-size: 16px; /* stylelint-disable unit-blacklist */
    margin: 0;
    min-height: 100vh;
    padding: 0;
    display: flex;
    background:#F4F5F4 !important;
  }

  img {
    height: auto;
    max-width: 100%;
  }


  button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: 1;
    padding: 0;
  }
 
  
  body #root {
    display: flex;
    width: 100%;
  }

.root{
    display: flex;
    justify-content: center;
    width: 100%
}

.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 98%;
    background:#F4F5F4 !important;
    box-shadow: none !important;
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center !important;
    height: 100px;
    width: 100%
}
.calendar-grid{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.days-row{
    display: flex;
    width: 100%;
    flex-basis: 0;
    padding: 15px 0px;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
}
.day-name{
    color: rgb(122, 122, 122);
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: calc(14.2857%);
        margin: 0px;
    padding: 0.25rem 0px;
    font-weight: 600;
}
.month-container{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
}
.day-cell {
    display: flex;
    position: relative;
    flex: 1 0 13%;
    flex-direction: column;
    border: 1px solid lightgray;
    cursor: pointer;
    background: white !important;
}
.day-cell-outside-month{
    display: flex;
    flex: 1 0 13%;
    position: relative;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: rgba( 211,211,211,0.4 );
    cursor: pointer;
}

.date-number{
    margin: 5px !important;
    height: 28px !important;
    width: 28px !important;
    font-size: 1rem !important;
    color: #000 !important;
    font-weight: 600;
    background-color: transparent !important;

}
.today-avatar{
    margin: 5px !important;
    height: 28px !important;
    width: 28px !important;
    font-size: 1rem !important;
    color: #fff !important;
    font-weight: 600;
    background-color: #813588 !important;
}
.focused-avatar{
    margin: 5px !important;
    height: 28px !important;
    width: 28px !important;
    font-size: 1rem !important;
    font-weight: 600;
    color: #000 !important;
    background-color: #f1f1f1 !important;
}


.top-container {
    display: flex
};


.tasks-number{

    color: #ffffff;
     font-size: 14px;
      margin: 5px 6px 0px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.pending{
    position: absolute;
    top:20%;
    left:10%;   
    margin-left:10px;
    background: #F9B5AD   !important;
    padding: 8px 10px !important;
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500;
    color:#000000;
}

.upcoming{
    position: absolute;
    top:20%
    ;left:10%;  
    margin-left:10px;
    background: #813588 !important;
     padding: 8px 10px !important;
      border-radius: 2px !important;
      font-size: 12px;
    font-weight: 500;
    color:#ffffff;

}


@media only screen and (max-width: 1500px) {
    .calendar-grid{
        width: 90%;

    }
    .day-cell {
        overflow-x:scroll;
    }
    .pending{
        top:30%;

    }

}

@media only screen and (max-width: 768px) {
    .calendar-grid{
        width: 95%;

    }
   

}

@media only screen and (max-width: 576) {
    .calendar-grid{
        width: 100%;

    }

}