.navbar-container{
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;

}

.navbar-logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.logo{
  width: 60px;height: 60px;
}
.text-tag{
  /* margin-left: 5%; */
  margin-left: 20px;
  font-size: 30px;
  color: dodgerblue;
  font-weight: 600;

}


.navbar-dropdown-container{
  font-size: 20px;
  font-weight: 600;
  color: dodgerblue;
  display: flex;
  align-items: items;
}

.select-item{
  font-size: 16px !important;
  font-weight: 600 !important;

}

.filter-container{display:flex;
  margin: 30px 50px 0px 0px !important;
  width:100%;
  justify-content:flex-end;}